[submodule ".config/nvim/pack/plugins/start/tabular"]
	path = .config/nvim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".config/nvim/pack/plugins/start/vim-dirvish"]
	path = .config/nvim/pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule ".config/nvim/pack/plugins/start/vim-eunuch"]
	path = .config/nvim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".config/nvim/pack/plugins/start/vim-fugitive"]
	path = .config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/pack/plugins/start/vim-repeat"]
	path = .config/nvim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".config/nvim/pack/plugins/start/vim-speeddating"]
	path = .config/nvim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".config/nvim/pack/plugins/start/vim-surround"]
	path = .config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".config/nvim/pack/plugins/start/vim-unimpaired"]
	path = .config/nvim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".config/nvim/pack/plugins/start/vimtex"]
	path = .config/nvim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
