[submodule ".config/nvim/pack/plugins/start/nvim-cmp"]
	path = .config/nvim/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule ".config/nvim/pack/plugins/start/cmp-buffer"]
	path = .config/nvim/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule ".config/nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = .config/nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".config/nvim/pack/plugins/start/cmp-omni"]
	path = .config/nvim/pack/plugins/start/cmp-omni
	url = https://github.com/hrsh7th/cmp-omni
[submodule ".config/nvim/pack/plugins/start/cmp-path"]
	path = .config/nvim/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
