$include /etc/inputrc
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set mark-symlinked-directories on
set match-hidden-files off
set revert-all-at-newline on
set show-all-if-unmodified on
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e\d": unix-filename-rubout
