[Unit]
Description=Lock display :%i on sleep
Before=sleep.target

[Service]
User=ulrikdem
Environment=DISPLAY=:%i
ExecStart=/bin/sh -c 'i3lock -nc 000000 && killall i3lock'

[Install]
WantedBy=sleep.target
